<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <link href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

        body {
            background: #2bada1;
            overflow-x: hidden;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .c3 {
            background: #fff;
            border-radius: 50px;
            padding: 30px;
        }

        .heading h1 {
            letter-spacing: 26px;
            line-height: 64px;
            font-size: 46px;
            font-family: "Poppins";
        }

        .mid-link {
            margin: 50px 0;
            border-top: 2px solid #bcbdc0;
            border-bottom: 2px solid #bcbdc0;
            padding: 30px 0;
        }

        .mid-link p {
            font-size: 22px;
            letter-spacing: 10px;
            font-family: "Poppins";
            margin-bottom: 0;
        }

        .mid-link a {
            font-size: 18px;
            letter-spacing: 6px;
            font-family: "Poppins";
            margin-bottom: 0;
            color: #bcbcbe;
            text-decoration: none;
        }

        .about-head {
            border-bottom: 2px solid #bcbdc0;
            padding-bottom: 10px;
        }

        .about-head-icon {
            border: 2px solid #000;
            border-radius: 50%;
            margin-right: 25px;
            padding: 8px 10px;
        }

        .about-head h3 {
            font-size: 28px;
            font-family: "Poppins";
        }

        .about-head-icon i {
            font-size: 30px;
        }

        .about-content p {
            font-size: 16px;
            font-family: "Poppins";
            text-align: justify;
            margin-top: 20px;
            line-height: 28px;
            padding-bottom: 50px;
        }

        .profiles-center {
            margin-top: 100px;
        }

        .contact-content h5 {
            color: #4f4e51;
            font-family: "Poppins";
            font-size: 19px;
            padding-top: 30px;
        }

        .contact-content p {
            color: #4f4e51;
            font-family: "Poppins";
            font-size: 16px;
            margin-bottom: 0;
        }

        .skill-content .skill-single .skilly {
            background: #bcbdc1;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            cursor: context-menu;
            margin: 0 3px;
        }

        .skill-content .skill-single .skilln {
            border: 2px solid #bcbdc1;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: context-menu;
            margin: 0 3px;
        }

        .skill-content {
            padding-top: 50px;
        }

        .skill-content .skill-single {
            padding-bottom: 20px;
        }

        .skill-content .skill-single h5 {
            font-family: 'Poppins';
            font-size: 22px;
        }

        .experience-name h4,
        .experience-about h4 {
            font-family: "Poppins";
            font-size: 18px;
            padding-bottom: 20px;
            font-weight: 500;
        }

        .experience-name p,
        .experience-about p {
            font-family: "Poppins";
            font-size: 15px;
            line-height: 28px;
            font-weight: 400;
        }

        .experience-single {
            padding-top: 40px;
        }

        .cv34_right_box_main_ {
            padding: 0px 20px 0px 50px;
        }

        .experience-single {
            display: flex;
            justify-content: space-between;
        }

        .experience-content{
            padding-bottom: 50px;
        }

    </style>

</head>

<body>

    <section class="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 c3">
                    <div class="row">
                        <div class="heading col-12">
                            <h1>
                                JENNIFER <br />
                                WATSON
                            </h1>
                        </div>
                        <div class="mid-link col-12 d-flex justify-content-between">
                            <p>USER EXPERIENCE DESIGNER</p>
                            <a href="javascript:;">WWW.JWATSON.COM</a>
                        </div>
                        <div class="col-4">
                            <div class="col-12 about-head d-flex align-items-center">
                                <div class="about-head-icon">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <h3>ABOUT ME</h3>
                            </div>
                            <div class="col-12 about-content">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but
                                    also the leap into electronic typesetting.
                                </p>
                            </div>
                            <div class="col-12 about-head d-flex align-items-center profiles-center">
                                <div class="about-head-icon">
                                    <i class="fa-solid fa-phone-volume"></i>
                                </div>
                                <h3>CONTACT</h3>
                            </div>
                            <div class="col-12 contact-content">
                                <h5>Address:</h5>
                                <p>12th Avenue Street Australia 40000</p>
                                <h5>Mobile:</h5>
                                <p>02800200</p>
                                <h5>Home:</h5>
                                <p>02800200</p>
                                <h5>Email:</h5>
                                <p>johnwatson@gmail.com</p>
                                <h5>Website:</h5>
                                <p>jwatson.com</p>
                                <h5>Skype:</h5>
                                <p>username</p>
                            </div>
                            <div class="col-12 about-head d-flex align-items-center profiles-center">
                                <div class="about-head-icon">
                                    <i class="fa-regular fa-gear"></i>
                                </div>
                                <h3>SKILLS</h3>
                            </div>
                            <div class="skill-content col-12">
                                <div class="skill-single d-flex justify-content-between align-items-center">
                                    <div class="skill-content-head">
                                        <h5>SKILL 01</h5>
                                    </div>
                                    <div class="skill-content-shows">
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                    </div>
                                </div>
                                <div class="skill-single d-flex justify-content-between align-items-center">
                                    <div class="skill-content-head">
                                        <h5>SKILL 02</h5>
                                    </div>
                                    <div class="skill-content-shows">
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilln"></button>
                                        <button class="skilln"></button>
                                        <button class="skilln"></button>
                                    </div>
                                </div>
                                <div class="skill-single d-flex justify-content-between align-items-center">
                                    <div class="skill-content-head">
                                        <h5>SKILL 03</h5>
                                    </div>
                                    <div class="skill-content-shows">
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilln"></button>
                                    </div>
                                </div>
                                <div class="skill-single d-flex justify-content-between align-items-center">
                                    <div class="skill-content-head">
                                        <h5>SKILL 04</h5>
                                    </div>
                                    <div class="skill-content-shows">
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilln"></button>
                                        <button class="skilln"></button>
                                    </div>
                                </div>
                                <div class="skill-single d-flex justify-content-between align-items-center">
                                    <div class="skill-content-head">
                                        <h5>SKILL 05</h5>
                                    </div>
                                    <div class="skill-content-shows">
                                        <button class="skilly"></button>
                                        <button class="skilly"></button>
                                        <button class="skilln"></button>
                                        <button class="skilln"></button>
                                        <button class="skilln"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="cv34_right_box_main_">
                                <div class=" about-head d-flex align-items-center">
                                    <div class="about-head-icon">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                    <h3>EXPERIENCES</h3>
                                </div>
                                <div class="experience-content">
                                    <div class="experience-single">
                                        <div class="experience-name ">
                                            <h4>GRAPHIC DESIGNER</h4>
                                            <p>2015-2017</p>
                                        </div>
                                        <div class="experience-about">
                                            <h4>SOFT DESIGN STUDIOS</h4>
                                            <p>Porttitor amet massa Done cporttitor dolor et nisl molestie ium<br> feliscon
                                                lore ipsum dolor tringilla. lorem lorem ipsum. ollcitudin est<br> dolor
                                                time. Done cporttitor dolor kiren</p>
                                        </div>
                                    </div>
                                    <div class="experience-single ">
                                        <div class="experience-name">
                                            <h4>WEB DESIGNER</h4>
                                            <p>2013-2015</p>
                                        </div>
                                        <div class="experience-about">
                                            <h4>WEB TECH LTD</h4>
                                            <p>Porttitor amet massa Done cporttitor dolor et nisl molestie ium<br> feliscon
                                                lore ipsum dolor tringilla. lorem lorem ipsum. ollcitudin est<br> dolor
                                                time. Done cporttitor dolor kiren</p>
                                        </div>
                                    </div>
                                    <div class="experience-single">
                                        <div class="experience-name ">
                                            <h4>LEAD WEB DESIGNER</h4>
                                            <p>2010-2013</p>
                                        </div>
                                        <div class="experience-about">
                                            <h4>SOFT DESIGN STUDIOS</h4>
                                            <p>Porttitor amet massa Done cporttitor dolor et nisl molestie ium<br> feliscon
                                                lore ipsum dolor tringilla. lorem lorem ipsum. ollcitudin est<br> dolor
                                                time. Done cporttitor dolor kiren</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" about-head d-flex align-items-center">
                                    <div class="about-head-icon">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                    </div>
                                    <h3>EDUCATION</h3>
                                </div>
                               <div class="experience-content">
                                <div class="experience-single">
                                    <div class="experience-name ">
                                        <h4>UNIVERSITY OF LOREM</h4>
                                        <p>2008-2010</p>
                                    </div>
                                    <div class="experience-about">
                                        <h4>CERTIFICATE OF WEB TRAINIG</h4>
                                        <p>Porttitor amet massa Done cporttitor dolor et nisl molestie ium<br> feliscon
                                            lore ipsum dolor tringilla. lorem lorem ipsum. ollcitudin est<br> dolor
                                            time. Done cporttitor dolor kiren</p>
                                    </div>
                                </div>
                                <div class="experience-single ">
                                    <div class="experience-name">
                                        <h4>UNIVERSITY OF LOREM</h4>
                                        <p>2007-2009</p>
                                    </div>
                                    <div class="experience-about">
                                        <h4>BECHELOR OF ART DIRECTOR</h4>
                                        <p>Porttitor amet massa Done cporttitor dolor et nisl molestie ium<br> feliscon
                                            lore ipsum dolor tringilla. lorem lorem ipsum. ollcitudin est<br> dolor
                                            time. Done cporttitor dolor kiren</p>
                                    </div>
                                </div>
                                <div class="experience-single">
                                    <div class="experience-name ">
                                        <h4>UNIVERSITY OF LOREM</h4>
                                        <p>2007-2009</p>
                                    </div>
                                    <div class="experience-about">
                                        <h4>BECHELOR OF ART DIRECTOR</h4>
                                        <p>Porttitor amet massa Done cporttitor dolor et nisl molestie ium<br> feliscon
                                            lore ipsum dolor tringilla. lorem lorem ipsum. ollcitudin est<br> dolor
                                            time. Done cporttitor dolor kiren</p>
                                    </div>
                                </div>
                               </div>
                                <div class=" about-head d-flex align-items-center">
                                    <div class="about-head-icon">
                                        <i class="fa-solid fa-memo-circle-check"></i>
                                    </div>
                                    <h3>REFERENCE</h3>
                                </div>
                                <div class="experience-content ">
                                    <div class="experience-single d-flex justify-content-between">
                                        <div class="experience-name">
                                            <h4>WILLIAM KLEIMEN</h4>
                                            <p>Director, Matrix media limited</p>
                                            <p>Phone: +5551235566</p>
                                        </div>
                                        <div class="experience-about">
                                            <h4>JENSEN SMITH</h4>
                                            <p>Web developer, Designer mate LTD</p>
                                            <p>Phone: +123 5556 4455</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>